name: Build & Deploy

on:
  push:
    branches: [master]

permissions:  
  id-token: write  
  contents: read   

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}  
          aws-region: ${{ secrets.AWS_REGION }}
          audience: sts.amazonaws.com  
          output-env-credentials: true 
      - run: aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_REPO }}
      - run: docker build -t ${{ secrets.ECR_REPO }}:${{ github.sha }} .
      - run: docker push ${{ secrets.ECR_REPO }}:${{ github.sha }}


  deploy:
    uses: ./.github/workflows/deploy.yaml
    needs: build-and-push
    secrets: inherit
        